{
    "env": {
      "es6": true,
      "browser": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:prettier/recommended" // Include Prettier rules
    ],
    "rules": {
      "quotes": ["error", "single"]
    }
  }
  